@charset "UTF-8";
/* CSS Document */
form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}
h2 {
    color:rgba(0,0,0,1.00);
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
    /* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}